<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_372_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{131,121}</string>
				<key>spriteSourceSize</key>
				<string>{140,130}</string>
				<key>textureRect</key>
				<string>{{0,130},{131,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_372_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-11.5}</string>
				<key>spriteSize</key>
				<string>{111,71}</string>
				<key>spriteSourceSize</key>
				<string>{140,130}</string>
				<key>textureRect</key>
				<string>{{183,0},{111,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_372_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,3}</string>
				<key>spriteSize</key>
				<string>{119,42}</string>
				<key>spriteSourceSize</key>
				<string>{140,130}</string>
				<key>textureRect</key>
				<string>{{140,0},{119,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_372_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{139,129}</string>
				<key>spriteSourceSize</key>
				<string>{140,130}</string>
				<key>textureRect</key>
				<string>{{0,0},{139,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_372-uhd.png</string>
			<key>size</key>
			<string>{254,251}</string>
			<key>textureFileName</key>
			<string>icons/player_372-uhd.png</string>
		</dict>
	</dict>
</plist>